h1 {
    color: black;
    font-size: 48px;
}
.title {
    text-align: center;
}
.photography_title
{
    color:white;
    text-align: center;
}
.game {
  color: white;
  text-align: center;
  font-size: 30px;
}
h2 {
    color: grey;
    font-size: 24px; 
}
.introduction {
    text-align: center;
}
h3 {
    color:black;
    font-size: 20px;
    text-decoration: underline;
    text-align: center;
}

ul,ol,dl,p {
    color:black;
    font-size: 20px;
    text-align: left;
    list-style-position: inside;
    padding-left: 45%;
  }

body {
    color: grey;
    font-size: 20px;
    transition: background-color .5s;
}
.background-black-opacity-4 {
  background-color: rgba(0, 0, 0, 0.4);
}
.photography_page
{
    transition: background-color 1s;
    
}

a.nav-link:link
{
   color: black;
   text-decoration: none;
}
a.nav-link:visited
{
   color: black;
   text-decoration: none;
}
a.nav-link:hover
{
   color: black;
   text-decoration: none;
}
a.nav-link:active
{
   color: black;
   text-decoration: none;
}
a {
    color:white;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color:grey;
}

div {
    color: white;
    font-size: 50px;
    text-align: center; 
    line-height: 2;
    transition: color 0.3s;
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}

.sidenav div:hover{
    color: #f1f1f1;
}
  
.sidenav .closebtn {
    color: white;   
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 72px;
    margin-left: 50px;
    cursor: pointer;
}
  .socials {
    margin:1px;
    padding:1px;
    text-align:center;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 24%;
    max-width: 24%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  .container {
    position: relative;
    width: 100%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
  }
  
  .container:hover .overlay {
    opacity: 75%;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
  
div:hover {
    color:grey;

  }



@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
